/* CSS Document */
* {word-wrap:break-word;}
body { background: #ededed; font-family:"Microsoft Yahei";}
body,input,button,select,textarea {font:12px Microsoft Yahei;color:#444;}
textarea {	resize:none;}
body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc {margin:0;padding:0;}
table {empty-cells:show;border-collapse:collapse;}
caption,th {text-align:left;font-weight:400;}
ul li,.xl li {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:1em;}
em,cite,i {font-style:normal;}
a {color:#333;text-decoration:none;}
a.light_a{color:#454545;}
a.dark_a{color:#000;}
a:hover {text-decoration:none;}
a:active{color:#333;}
a img {border:none;}
label {cursor:pointer;}
.bar-tab{position:fixed;}

.z {float:left;}
.y {float:right;}
.cl:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.cl {zoom:1;}
.dis_bk{ display:block;}
.dis_in{ display:inline;}
.hide{ display:none;}
.mbn_rem{ margin-bottom: 0.5rem;}
.mtn_rem{ margin-top: 0.5rem;}
.wrapper_main{width:94.1%;margin:0 auto;}
/*字体大小*/
.font10{font-size: .5rem;}
.font12{font-size: .6rem;}
.font13{font-size: .65rem;}
.font14{font-size: .7rem;}
.font15{font-size: .75rem;}
.font16{font-size: .8rem;}
/*字体颜色*/
.co00{color:#000;}
.aaa{color:#aaa;}
.9e{color:#9e9e9e;}/*比aaa稍深*/
.maintext{color:#4C7AAD;}
.col66{color:#666;}
.colblue{color:#0096e6;}
.col9d{color: #9d9d9d;}
.col99{color:#999;}
.colwhite{color:#fff;}
/*链接蓝色*/
a.colblue{color:#4C7AAD;}
/*背景颜色*/
.whitebg{background:#fff!important;}
.graybg{background:#f9f9f9!important;}
/*行间距*/
.smaltx{line-height: .8rem;}

/*帖子头部*/
.onepiece{padding: .5rem 0 .75rem 0;}
.onepiece .header_info{padding-bottom: .4rem;}
.onepiece .header_info .avatar{display:inline-block; width:1.9rem;height:1.9rem;border-radius: 100%;overflow: hidden;}
.onepiece .header_info .info2{margin-left: .4rem;}
.onepiece .header_info a{color:#4C7AAD;}
.onepiece .header_info .nickname{color:#4C7AAD; line-height: 0.9rem;}
.onepiece .attention{border:solid 1px #4C7AAD;border-radius: 3px; padding:0.1rem 0.3rem;}
.grade{margin-top: .15rem; margin-left: .45rem;}
.grade .arrow-left{width:0;height:0;border-top: 3px solid transparent; border-right: 4px solid #017EC0;border-bottom: 3px solid transparent;margin-top: .13rem;}
.grade .rect{height:.6rem;width:1.2rem;background:#017EC0; border-radius: 2px; color: #fff; line-height: .6rem; text-align: center; font-size: 8px;}
.grade .header_info .attention{display:inline-block; width:2.35rem;height:1rem;line-height:1rem;border-radius: 3px;border:solid 1px #C9C9C9; color:#C9C9C9;text-align: center;}
/*帖子图标*/
.onepiece .options{margin-top: .95rem;}
.onepiece .options span{margin:0 .2rem;}
.onepiece .options .more_btn{width:.75rem;height:1rem;background:url(../images/more_btn.png) no-repeat; background-size: contain;}
.onepiece .options .num{ color:#B2B2B2;}
.onepiece .options .comment_pic{width:.75rem;height:1rem;background:url(../images/comend_icon.png) no-repeat; background-size: contain;}
.onepiece .options .eye_pic{width:.75rem;height:1rem;background:url(../images/eye.png) no-repeat; background-size: contain;margin-top: .05rem;}

.onepiece .header_info  .header_style2 span{margin:0 .2rem;}
.onepiece .header_info  .header_style2 .more_btn{width:.75rem;height:1rem;background:url(../images/more_btn.png) no-repeat; background-size: contain;}
.onepiece .header_info  .header_style2 .num{ color:#B2B2B2;}
.onepiece .header_info  .header_style2 .comment_pic{width:.75rem;height:1rem;background:url(../images/comend_icon.png) no-repeat; background-size: contain;}
.onepiece .header_info  .header_style2 .eye_pic{width:.75rem;height:1rem;background:url(../images/eye.png) no-repeat; background-size: contain;margin-top: .05rem;}
/*点赞*/
.onepiece .like_pic{width:.75rem;height:.8rem;background:url(../images/zan.png) no-repeat; background-size: contain;}
.onepiece .like_pic.liked{background:url(../images/s_zan.png) no-repeat; background-size: contain;}
.onepiece .like_list{width:100%;background:#f9f9f9;border-bottom: solid 1px #e6e6e6; padding:.25rem .4rem;}
.onepiece .like_name{color:#4C7AAD; line-height: 1rem;}
.onepiece .like_name a{color:#4C7AAD;}
.onepiece .tips{color:#8f8f8f;}
/*评论*/
.onepiece .comment_list{background:#f9f9f9;padding:.25rem .4rem;}
.onepiece .comment_list .comments{margin-bottom: .1rem;}
.onepiece .comment_list .comments img{ width:20px;}
.onepiece .comment_list .texts{color:#00001C; line-height: 1rem;}
.onepiece .all_comment{color:#4A4A4A;}
.onepiece .show_all{ color:#4A4A4A;}

/* 评论弹出 */
.ly_commend{ margin-top:0.5rem;}
.ly_commend .com_head{ width: 2rem; height: 2rem; border-radius: 50%; margin:0 0.5rem 0 4%;}
.ly_commend .com_box{ width:76%; height:4rem; border:1px solid #d6d5d7; border-radius: 0.2rem; margin-right:4%; padding: 0.5rem; font-size: 0.7rem; color:#999;}
.ly_commend .com_btn{ width:4.25rem; height:1.5rem; font-size: 0.7rem; color:#fff; text-align: center; line-height: 1.5rem; border-radius: 0.2rem; border:none; background:#00a0e9; margin: 0.5rem 4% 0 0;}
.advise_box{ width:92%; height:5rem; border:1px solid #d6d5d7; border-radius: 0.2rem; margin:0 4%; padding: 0.5rem; font-size: 0.7rem; color:#999;}
.advise_text{ width:100%; height:4rem; padding: 0.2rem 0; font-size: 0.7rem; border:none; display:block;}
.ly_commend .smile_icon img{ height:1.2rem;}
.ly_commend .smile_icon{ margin: 0.55rem 0 0 4%;}
.ly_commend .face_show{ width:92%; height:10rem; border:1px solid #d7d7d7; border-radius: 5px; margin:0.5rem auto 0; overflow:scroll;}
.ly_commend .face_icon{ margin:0.65rem 0.28rem 0 0.28rem;}
.ly_commend .face_icon img{ width:1.5rem; height:1.5rem; display:block;}
.ly_commend #com_box{ color:#333;}
/* 公共底部 */
.bar{ background:#fff;}
.title{ font-size: 0.9rem; width:50%; left:25%; margin:0;}
.red_point{ height:0.7rem; width:0.7rem; background:#ef0502; color:#fff; text-align: center; line-height: 0.7rem; position:absolute; display:block; border-radius: 50%; top:0.2rem; right:25%; font-size: 0.6rem;}
.red_point1{ height:0.4rem; width:0.4rem; background:#ef0502; color:#fff; position:absolute; display:block; border-radius: 50%; top:0.2rem; right:25%; font-size: 0.6rem;}
.s_left{ width:12%; height:1rem; float:left; background:url(../images/left_icon.png) center center no-repeat; margin-top:0.5rem;}
.comm_icons{ width:1.2rem; height:1.2rem; display:block; margin:0 auto;}
.icon-home1{ background:url(../images/bottom_icon1.png) no-repeat center center; background-size: contain; }
.icon-home2{ background:url(../images/bottom_icon2.png) no-repeat center center; background-size: contain; }
.icon-home3{ background:url(../images/bottom_icon3.png) no-repeat center center; background-size: contain; }
.icon-home4{ background:url(../images/bottom_icon4.png) no-repeat center center; background-size: contain; }
.icon-post{ width: 2.5rem; height:2.5rem; background:url(../images/post_btn.png) no-repeat center center; background-size: contain; display:block; position:absolute; top:-0.9rem; left:50%; margin-left:-1.25rem;}
.tab-item.active .icon-home1{background:url(../images/bottom_icon11.png) no-repeat center center; background-size: contain;}
.tab-item.active .icon-home2{background:url(../images/bottom_icon22.png) no-repeat center center; background-size: contain;}
.tab-item.active .icon-home3{background:url(../images/bottom_icon33.png) no-repeat center center; background-size: contain;}
.tab-item.active .icon-home4{background:url(../images/bottom_icon44.png) no-repeat center center; background-size: contain;}
/* 分享代码 */
.bdshare-button-style0-16 a{ width:2.6rem; background-position:center 0.5rem!important; background-size:2.6rem!important; margin:0 1rem 0 0!important; text-align: center; padding:3.2rem 0 1.2rem 0!important; font-size: 0.6rem!important; color:#333; }
.bdshare-button-style0-16 .bds_sqq{ background:url(../images/icon-qq.png) no-repeat;}
.bdshare-button-style0-16 .bds_qzone{ background:url(../images/icon-space.png) no-repeat;}
.bdshare-button-style0-16 .bds_tsina{ background:url(../images/icon-sina.png) no-repeat;}
.bdshare-button-style0-16 .bds_twechat{ background:url(../images/icon-weixin.png) no-repeat;}
.pull-to-refresh-content.content{ top:0;}

/* 发布页面 */
.post_index{ z-index: 999999;}
.post_index .section_post{ position:fixed; width:100%; height:100%; background:url(../images/post_bg.png) no-repeat center center ; background-size: cover;}
.post_index .bar{ background:#f8f8f8;}
.post_index .close_btn{ width:1rem; margin:0.7rem auto 0; display:block;}
.post_index b {display:inline-block; width:1rem; height:2px; background:#0698E6; font-size:0; line-height:0;vertical-align:middle;-webkit-transform: rotate(45deg);}
.post_index b:after { content:'.'; display:block; width:1rem; height:2px; background:#0698E6;-webkit-transform: rotate(-90deg);}
.post_index .export{ width:16%; text-align: center; position:absolute; bottom:25%; opacity:0;}
.post_index .export_img{ display:block; width:100%;}
.post_index .exprt_txt{ display:block; text-align: center; font-size: 0.65rem; color:#5e5e5e; margin-top:0.2rem;}
.post_index .export-1{ left:13%; -webkit-transform: translate3d(0,10%,0); transform: translate3d(0,10%,0);}
.post_index .export-2{ left:42%; -webkit-transform: translate3d(0,30%,0); transform: translate3d(0,30%,0);}
.post_index .export-3{ left:71%; -webkit-transform: translate3d(0,50%,0); transform: translate3d(0,20%,0);}
.post_index .export-4{ left:13%; -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); bottom:5%;}
.post_index.animate .export-1{
    opacity:1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: opacity 0.1s ease,-webkit-transform 0.2s ease;
    transition: opacity 0.2s ease,-webkit-transform 0.2s ease;
    transition: transform 0.2s ease,opacity 0.2s ease;
    transition: transform 0.2s ease,opacity 0.2s ease,-webkit-transform 0.2s ease;
}
.post_index.animate .export-2{
    opacity:1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: opacity 0.3s ease,-webkit-transform 0.4s ease;
    transition: opacity 0.4s ease,-webkit-transform 0.4s ease;
    transition: transform 0.4s ease,opacity 0.4s ease;
    transition: transform 0.4s ease,opacity 0.4s ease,-webkit-transform 0.4s ease;
}
.post_index.animate .export-3{
    opacity:1;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: opacity 0.5s ease,-webkit-transform 0.6s ease;
    transition: opacity 0.5s ease,-webkit-transform 0.6s ease;
    transition: transform 0.6s ease,opacity 0.6s ease;
    transition: transform 0.6s ease,opacity 0.6s ease,-webkit-transform 0.4s ease;
}
.post_index.animate .export-4{
    opacity:1;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    -webkit-transition: opacity 0.5s ease,-webkit-transform 0.8s ease;
    transition: opacity 0.5s ease,-webkit-transform 0.8s ease;
    transition: transform 0.6s ease,opacity 0.6s ease;
    transition: transform 0.6s ease,opacity 0.6s ease,-webkit-transform 0.4s ease;
}

/*分享弹出层*/
.black{position: relative;top:0;left:0;width:100%;height:100%; background:rgba(0,0,0,0.3);z-index: 9999;}
.share_list{width:100%; background:#f0f0f0;position: absolute;bottom:-48.7%;left:0;z-index: 9999; padding-bottom:1.2rem;}
.wechat_share{position: absolute;top:0;left:0;width:100vw;height:100vh;background:url(../images/weixin.png) no-repeat;z-index: 999999;background-size: cover;}
.share_list .cancle{width:100%;height:2.2rem;background:#fff;position: absolute;bottom:0;left:0; text-align: center;line-height: 2.2rem;}
.share_list .blo{margin-right: 1.2rem;}
.share_list .share{ padding: 1rem 4%; }
.share_list .share .share_item{width:2.4rem;height:2.4rem;border-radius: 5px;background:#fff;padding:.125rem;}
.share_list .line1{border-bottom: solid 1px #eaeaea;padding-bottom: .8rem;}
.share_list .innericon{display:block; width:2.15rem; height:2.15rem;}
.share_list .innericon.wechat{background:url(../images/icon-wechat.png) no-repeat;background-size: cover;}
.share_list .innericon.qq{background:url(../images/icon-qq.png) no-repeat;background-size: cover;}
.share_list .innericon.space{background:url(../images/icon-space.png) no-repeat;background-size: cover;}
.share_list .innericon.inform{background:url(../images/icon-inform.png) no-repeat;background-size: cover;}
.share_list .innericon.collect{background:url(../images/icon-collect.png) no-repeat;background-size: cover;}
.share_list .innericon.collect.liked{background:url(../images/icon-collect1.png) no-repeat;background-size: cover;}
.share_list .innericon.circle{background:url(../images/icon-circle.png) no-repeat;background-size: cover;}
.share_list .text2{color:#000;text-align: center;display:block;width:2.4rem;margin-top: .35rem;}
.share_list .line2{margin-top: .55rem;}

/*内容为空*/
.null_content{width:69%;margin:0 auto;padding-top: 2.25rem;}
.null_content img{width:100%;}
.null_content p{text-align: center;color:#bbb;font-size: .9rem;margin-top: 2.25rem;}
.null_content a{display:block;width:7rem;height:1.8rem;line-height: 1.8rem;text-align: center;color:#0096E5;border:solid 1px #0096E5;border-radius: 5px;margin:0 auto;font-size: .9rem;margin-top: .6rem;}

.no_data{text-align:center; padding-top:50%; font-size:16px;}

/*底部导航修改*/
.bar-tab1 .tab-item1{ width:20%; float:left; display:block;position: relative; height: 2.5rem;color: #929292; text-align: center; vertical-align: middle;}
.comm_icons{ margin-top:0.4rem!important;}
.icon-post{ margin-left:-1.25rem; top:-0.9rem;}

/*帖子*/
/*首页*/
.onepiece{border-bottom: solid 1px #e6e6e6;}
.onepiece .piecetext{color:#000;}
.onepiece .piecetext.main{color:#454545; margin-top: .3rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}
.onepiece .pics{margin-top: .3rem;position: relative;}
.onepiece .pics.pic1{width:100%;height:17.7rem;}
.onepiece .pics li{display:inline-block;}
.onepiece .pics.pic1 li{width:100%;height:100%;}
.onepiece .pics.pic2{width:100%;height:8.65rem;}
.onepiece .pics.pic2 li{width:47.9%;height:100%;}
.onepiece .pics.pic2 li:first-child{ margin-right: 3%;}
.onepiece .pics.pic3{width:100%;height:11.75rem;}
.onepiece .pics.pic3 li:first-child{width:66.3%;height:100%;}
.onepiece .pics.pic3 li:nth-child(2),.pic3 li:nth-child(3){width:31.7%;height:5.8rem; margin-left: 2%;}
.onepiece .pics.pic3 li:nth-child(3){margin-top: .2rem;}
.onepiece .pics.pic4{width:100%;height:13.2rem;}
.onepiece .pics.pic4 li:first-child{width:74.5%;height:100%;}
.onepiece .pics.pic4 li:nth-child(2),.pic4 li:nth-child(3),.pic4 li:nth-child(4){width:23.5%;height:4.25rem; margin-left: 2%;}
.onepiece .pics.pic4 li:nth-child(3),.pic4 li:nth-child(4){margin-top: .235rem;}
.onepiece .pics.pic5{width:100%;height:14.6rem;}
.onepiece .pics.pic5 li:nth-child(1),.pic5 li:nth-child(2){width:49%;height:8.65rem;margin-bottom: .25rem;}
.onepiece .pics.pic5 li:nth-child(1){margin-right: 1.4%;}
.onepiece .pics.pic5 li:nth-child(3),.pic5 li:nth-child(4),.pic5 li:nth-child(5){width:32.3%;height:5.7rem;}
.onepiece .pics.pic5 li:nth-child(4){margin-left: 1.4%;}
.onepiece .pics .extra{display:inline-block;width:32.3%;height:5.7rem;line-height: 5.7rem;text-align: center; position:absolute;background:rgba(0,0,0,0.4);color:#fff; bottom:0;right:0;font-size: 1.2rem;}
.onepiece .pics.pic5 li:nth-child(5){float:right;}
/*社区帖子部分*/
.onepiece .pics.pic_hot li{width:32.8%;height:5.8rem;margin-right: .1rem;}
.onepiece .pics.pic_hot li:last-child{margin-right: 0;}
.hot_post .onepiece{background-color: #fff;padding:.5rem .58rem .1rem .58rem;margin-bottom: .6rem;border:none;}
.hot_post .onepiece .header_info .avatar{width:1rem;height:1rem;}
.hot_post .see_all{display:block;width:69%;margin:1rem auto .5rem auto;background-color: #edeeef;color:#4f4f4f;height:1.2rem;line-height: 1.2rem;text-align: center;}
/*新消息提示*/
.new_notice{width:.8rem;height:.8rem;background-color: #ef0502; color:#fff;line-height: .8rem;text-align: center;border-radius: 50%;font-size: .6rem;}
.emoji{ width:20px!important;}
/*标题栏右侧*/
.s_right1{ float:right; font-size: 0.7rem; margin-right:3%; line-height: 2.2rem;}

/*视频按钮*/
.play_icon3{ background:url(../images/bofang.png) no-repeat center center;background-size:contain; position:absolute; top:50%; margin-top:-1.25rem; left:50%; margin-left:-1.25rem; width:2.5rem; height:2.5rem;}
/*图片大小*/
.content_text img{width:100%;}
.onepiece p img{width:100%;}
.onepiece .zoom{width:100%;}

/*删除按钮*/
.search-input .icon-remove1{ right:0.3rem; left:auto; background:url(../images/close_btn.png) no-repeat center center; width:0.9rem; height: 0.9rem;}
/*详情页左上角回首页按钮*/
.icon-home_a {background: url(../images/back_icon3.png) no-repeat left center; background-size: contain;display: block; width: 19%; height: 1rem;float: left;margin-top: 0.65rem; font-size: 0.65rem; color:#0894ec; padding-left: 0.6rem; line-height: 1.2rem;}
/*图片幻灯*/
.slider_img{ position:relative; width:100%; height:9rem; overflow: hidden;}
.slider_img img{ display:block;}
.slider_img .swiper-slide{ width:100%; height:9rem; background-size: cover; background-position: center center;}
.slider_img .pagination{ position:relative; z-index: 9; text-align: center; bottom: 1rem; overflow:hidden;}
.slider_img .swiper-pagination-bullet{ margin:0 0.25rem; width:8px; height:8px; background:rgba(0,0,0,0); border:2px solid #fff; }
.slider_img .swiper-pagination-bullet-active{ width:11px; height:11px; background:rgba(255,255,255,1); margin-top:5px;overflow:hidden;}
/* 回顶部 */
.gotop{ z-index:8888; position:fixed; bottom:1rem; right:1rem; display:none;}
.long_post{ position:fixed; bottom:1rem; left:50%; margin-left:-21px;}
/*微信点击打开APP时的悬浮*/
.wenxin_img{max-width: 100%; height: auto;}
.weixin-tip{ position: fixed; left:0; top:0; bottom:0; background: rgba(0,0,0,0.8); filter:alpha(opacity=80);  height: 100%; width: 100%; z-index: 10000;}
.weixin-tip p{text-align: center; margin-top: 10%; padding:0 5%;}